http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/geo-services/v1/agdd/double-sine/pointTimeSeries?climateProvider=NCEP&temperatureUnit=fahrenheit&startDate=2019-01-01&endDate=2019-01-15&latitude=39.7&longitude=-107.5&lowerThreshold=25&upperThreshold=90
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4fa-Q+w/FGZ+BdH1w0j8QtzxauPA36o"
    body:
      string: '{"climateProvider":"NCEP","temperatureUnit":"fahrenheit","startDate":"2019-01-01","endDate":"2019-01-15","lowerThreshold":25,"upperThreshold":90,"latitude":39.7,"longitude":-107.5,"timeSeries":[{"date":"2019-01-01","doy":1,"gdd":0,"agdd":0},{"date":"2019-01-02","doy":2,"gdd":0,"agdd":0},{"date":"2019-01-03","doy":3,"gdd":0,"agdd":0},{"date":"2019-01-04","doy":4,"gdd":1.4647688638263077,"agdd":1.4647688638263077},{"date":"2019-01-05","doy":5,"gdd":4.7499873518213755,"agdd":6.214756215647683},{"date":"2019-01-06","doy":6,"gdd":5.734634929646189,"agdd":11.949391145293873},{"date":"2019-01-07","doy":7,"gdd":1.2517836336197494,"agdd":13.201174778913623},{"date":"2019-01-08","doy":8,"gdd":0,"agdd":13.201174778913623},{"date":"2019-01-09","doy":9,"gdd":3.313115389868101,"agdd":16.514290168781724},{"date":"2019-01-10","doy":10,"gdd":7.208651577051693,"agdd":23.722941745833417},{"date":"2019-01-11","doy":11,"gdd":6.276859476468095,"agdd":29.999801222301514},{"date":"2019-01-12","doy":12,"gdd":0,"agdd":29.999801222301514},{"date":"2019-01-13","doy":13,"gdd":1.0264293746547692,"agdd":31.02623059695628},{"date":"2019-01-14","doy":14,"gdd":0.7390871207214376,"agdd":31.765317717677718},{"date":"2019-01-15","doy":15,"gdd":2.1301579207567167,"agdd":33.895475638434434}]}'
  recorded_at: 2025-07-29 21:53:30
recorded_with: VCR-vcr/2.0.0
