http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/species/getSpecies.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"species_id":120,"common_name":"''ohi''a lehua","genus":"Metrosideros","genus_id":798,"genus_common_name":"Lehuas
        (Metrosideros)","species":"polymorpha","kingdom":"Plantae","itis_taxonomic_sn":27259,"functional_type":"Evergreen
        broadleaf","class_id":15,"class_common_name":"Flowering Plants","class_name":"Magnoliopsida","order_id":89,"order_common_name":"Myrtle
        and Evening-primrose Families","order_name":"Myrtales","family_id":301,"family_name":"Myrtaceae","family_common_name":"Myrtle
        Family","species_type":[{"Species_Type_ID":9,"Species_Type":"Evergreen","Comment":null,"User_Display":1,"Kingdom":"Plantae","Image_Path":"http:\/\/www.usanpn.org\/files\/shared\/images\/ss8red_spruce_conifer_final.png"},{"Species_Type_ID":26,"Species_Type":"Focal","Comment":null,"User_Display":1,"Kingdom":null,"Image_Path":null}]},{"species_id":1436,"common_name":"absinthium","genus":"Artemisia","genus_id":437,"genus_common_name":"Sagebrushes
        (Artemisia)","species":"absinthium","kingdom":"Plantae","itis_taxonomic_sn":35445,"functional_type":"Forb","class_id":15,"class_common_name":"Flowering
        Plants","class_name":"[...]
