http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/networks/getPartnerNetworks.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"network_id":1129,"network_name":"4 CAST Project"},{"network_id":302,"network_name":"A.T.
        Seasons"},{"network_id":603,"network_name":"AAFC-CEF-Building 49"},{"network_id":295,"network_name":"ABQ
        BioPark Botanic Garden"},{"network_id":27,"network_name":"Acadia NP"},{"network_id":1109,"network_name":"Acer
        saccharum Phenology Trail"},{"network_id":954,"network_name":"ACNC at South
        Mountain Park"},{"network_id":790,"network_name":"ACParks"},{"network_id":796,"network_name":"Adkins
        Arboretum"}[...]
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/networks/getNetworkTree.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"network_id":1129,"network_name":"4 CAST Project"},{"network_id":302,"network_name":"A.T.
        Seasons","secondary_network":[{"network_id":69,"network_name":"Appalachian
        Mountain Club"},{"network_id":66,"network_name":"Appalachian Trail Conservancy"},{"network_id":72,"network_name":"Great
        Smoky Mountains NP"}]},{"network_id":1109,"network_name":"Acer saccharum Phenology
        Trail"},{"network_id":790,"network_name":"ACParks"},{"network_id":60,"network_name":"Arbor
        Day Foundation"},{"network_id":1106,"network_name":"ArlingtonRegionalMN"},{"network_id":1201,"network_name":"Ash
        Canyon Training"},{"network_id":252,"network_name":"Audubon","secondary_network":[{"network_id":1249,"network_name":"Huntington
        Community Forest Phenology Group"},{"network_id":903,"network_name":"Independent
        Audubon Organizations","tertiary_network":[{"network_id":881,"network_name":"Mass
        Audubon Habitat Phenology Society"},{"network_id":74,"network_name":"New Hampshire
        Audubon"}]},{"network_id":904,"network_name":"National Audubon Organizations","tertiary_network":[{"network_id":409,"network_name":"Audubon
        California","quaternary_network":[{"network_id":294,"network_name":"Audubon
        Starr Ranch"},{"network_id":588,"network_name":"Madrone Audubon"},{"network_id":408,"network_name":"Mt.
        Diablo Audubon Society"},{"network_id":587,"network_name":"Napa Solano Audubon"},{"network_id":410,"network_name":"Sea
        and Sage Audubon"},{"network_id":659,"network_name":"Tulare Audubon"},{"network_id":574,"network_name":"Yolo
        Audubon"}]},{"network_id":234,"network_name":"Montana Audubon Center"},{"network_id":498,"net[...]
