http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?class_id%5B1%5D=5&date=2018-05-05
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"class_id":5,"class_name":"Aves","phenophases":[{"phenophase_id":292,"phenophase_name":"Active
        individuals","phenophase_category":"Activity","phenophase_definition":"One
        or more individuals are seen moving about or at rest.","seq_num":10010,"color":"Brown1","pheno_class_id":62,"pheno_class_name":"Live
        individuals","pheno_class_sequence":10,"phenophase_definition_id":292},{"phenophase_id":542,"phenophase_name":"Feeding","phenophase_category":"Activity","phenophase_definition":"One
        or more individuals are seen feeding or foraging. If possible, record the
        name of the species or substance being eaten or describe it in the comments
        field.","seq_num":10100,"color":"Brown1","pheno_class_id":68,"pheno_class_name":"Feeding","pheno_class_sequence":70,"phenophase_definition_id":575},{"phenophase_id":310,"phenophase_name":"Fruit\/seed
        co[...]
[...]
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?class_id%5B1%5D=5&class_id%5B2%5D=6&date=2018-05-05
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"class_id":5,"class_name":"Aves","phenophases":[{"phenophase_id":292,"phenophase_name":"Active
        individuals","phenophase_category":"Activity","phenophase_definition":"One
        or more individuals are see[...]
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?family_id%5B1%5D=267&family_id%5B2%5D=268&date=2018-05-05
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"family_id":267,"family_name":"Elaeagnaceae","phenophases":[{"phenophase_id":371,"phenophase_name":"Breaking
        leaf buds","phenophase_category":"Leaves","phenophase_definition":"One or
        more breaking leaf buds are visible on the plant.  A leaf bud is considered
        ''breaking'' once a green leaf tip is visible at the end of the bud, but before
        the first leaf from the bud has unfolded to expose the leaf stalk (petiole)
        or leaf base.","seq_num":10,"color":"Green1","pheno_class_id":1,"pheno_clas[...]
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?order_id%5B1%5D=74&order_id%5B2%5D=75&date=all&return_all=1
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"order_id":74,"order_name":"Commelinales","phenophases":[{"phenophase_id":482,"phenophase_name":"Emerging
        growth","phenophase_category":"Leaves","phenophase_definition":"New bright
        green growth of the plant is visible above the soil surface, either from above-ground
        buds with green tips, or new green or white shoots breaking through the soil
        surface. Growth is considered ''emerging'' until the first leaf has fully
        unfolded from that bud or shoot.","seq_num":10,"color":"Green1","phen[...]
