http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&family_id[1]=322&num_days_quality_filter=30&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":38,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","phenophase_id":390,"phenophase_description":"Ripe fruits","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":171,"mean_first_yes_julian_date":2456464,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":9,"se_numdays_since_prior_no":-9999,"last_yes_sample_size":1,"mean_last_yes_year":2013,"mean_last_yes_doy":171,"mean_last_yes_julian_date":2456464,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":13,"se_numdays_until_next_no":-9999},{"site_id":38,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","phenophase_id":482,"phenophase_description":"Initial growth (forbs)","first_yes_sample_size":2,"mean_first_yes_year":2013,"mean_first_yes_doy":122,"mean_first_yes_julian_date":24564[...]
[...]
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&family_id[1]=322&frequency=months&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","phenophase_id":390,"phenophase_description":"Ripe
        fruits","year":2013,"start_date":"2013-01-01","end_date":"2013-01-31","status_records_sample_size":15,"individuals_sample_size":3,"sites_sample_size":1,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"species_id":185,"genus":"Anemone","species":"patens","common_name":"eastern
        pasqueflower","kingdom":"Plantae","phenophase_id":390,"phenophase_description":"Ripe
        fruits","year":2013,"start_date":"2013-01-01","end_date":"2013-01-31","status_records_sample_size":16,"individuals_sample_size":4,"sites_sample_size":1,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"pro[...]
[...]
