http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophaseDefinitionDetails.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"definition_id":56,"dataset_id":12,"phenophase_id":56,"phenophase_name":"First
        leaf","definition":"In at least 3 locations on the plant, the very first green
        tip of a young leaf has visibly moved out of the leaf bud.","start_date":"2008-08-25
        00:00:00","end_date":"2009-03-01 00:00:00","comments":null},{"definition_id":57,"dataset_id":12,"phenophase_id":57,"phenophase_name":"75%
        leaf elongation","definition":"The majority of young leaves have unfolded
        completely and have expanded to three-quarters (75%) of their mature size.
        Leaf elongation may also be estimated by viewing the canopy as a whole. At
        75% leaf elongation, the canopy appears to be approximately three-quarters
        (75%) full. ","start_date":"2008-08-25 00:00:00","end_date":"2009-03-01 00:00[...]
