http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getAbundanceCategories.json
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"category_id":10,"category_name":"Frog vocalizing","category_description":"What
        is the intensity of vocalizing?","category_values":[{"value_id":20,"value_description":"There
        is space between calls and individuals can be counted.","value_name":"Single
        calls"},{"value_id":21,"value_description":"Calls of individuals can be distinguished
        but there is some overlapping of calls.","value_name":"Overlapping calls"},{"value_id":22,"value_description":"Calls
        are constant and overlapping.","value_name":"Full chorus"}]},{"category_id":11,"category_name":"Breaking
        leaf buds","category_description":"How many buds are breaking?","category_values":[{"value_id":32,"value_description":"","value_name":"Less
        than[...]
