http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForSpecies.json?species_id%5B1%5D=3&date=2018-05-05
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"species_id":3,"species_name":"red maple","phenophases":[{"phenophase_id":371,"phenophase_name":"Breaking
        leaf buds","phenophase_category":"Leaves","phenophase_definition":"One or
        more breaking leaf buds are visible on the plant.  A leaf bud is considered
        ''breaking'' once a green leaf tip is visible at the end of the bud, but before
        the first leaf from the bud has unfolded to expose the leaf stalk (petiole)
        or leaf base.","phenophase_additional_definition":"For Acer rubrum, leaf tips
        may appear reddish.","seq_num":10,"color":"Green1","pheno_class_id":1,"pheno_class_name":"Initial
        shoot or leaf growth","pheno_class_sequence":10,"abundance_category":39,"raw_abundance":false},{"phenophase_id":483,"phenophase_name":"Leaves","phenophase_category":"Leaves","phenophase_definition":"One
        or more live, unfolded leaves are visible on the plant. A leaf is considered
        ''unfolded'' once its entire length has emerged from a breaking bud, stem
        node or growing stem tip, so that the leaf stalk (petiole) or leaf base is
        visible at its point of attachment to the stem. Do not include fully dried
        or dead leaves.","phenophase_additional_defi[...]
