http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":5206,"latitude":36.902622,"longitude":-76.206039,"elevation_in_meters":3,"state":"VA","species_id":201,"genus":"Cephalanthus","species":"occidentalis","common_name":"common
        buttonbush","kingdom":"Plantae","individual_id":10212,"phenophase_id":371,"phenophase_description":"Breaking
        leaf buds","first_yes_year":2016,"first_yes_month":4,"first_yes_day":20,"first_yes_doy":111,"first_yes_julian_date":2457499,"numdays_since_prior_no":9,"last_yes_year":2016,"last_yes_month":5,"last_yes_day":23,"last_yes_doy":144,"last_yes_julian_date":2457532,"numdays_until_next_no":12},{"site_id":5206,"latitude":36.902622,"longitude":-76.206039,"elevation_in_meters":3,"state":"VA","species_id":201,"genus":"Cephalanthus","species":"occidentalis","common_name":"common
        buttonbush","kingdom":"Plantae","individual_id":10212,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","first_yes_year":2016,"first_yes_month":9,"first_yes_day":26,"first_yes_doy":270,"first_yes_julian_date":2457658,"numdays_since_prior_no":7,"last_yes_year":2016,"last_yes_month":12,"l[...]
[...]
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":2205,"latitude":34.048927,"longitude":-111.093735,"elevation_in_meters":1527,"state":"AZ","species_id":210,"genus":"Carnegiea","species":"gigantea","common_name":"saguaro","kingdom":"Plantae","phenophase_id":256,"phenophase_description":"Flower
        buds (1 location)","first_yes_sample_size":3,"mean_first_yes_year":2010,"mean_first_yes_doy":121,"mean_first_yes_julian_date":2455318,"se_first_yes_in_days":2,"mean_numdays_since_prior_no":12,"se_numdays_since_prior_no":3,"last_yes_sample_size":0,"mean_last_yes_year":-9999,"mean_last_yes_doy":-9999,"mean_last_yes_julian_date":-9999,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":-9999,"se_numdays_until_next_no":-9999},{"site_id":2329,"latitude":32.354759,"longitude":-110.939194,"elevation_in_meters":961,"state":"AZ","species_id":210,"genus":"Carnegiea","species":"gigantea","common_name":"saguaro","kingdom":"Plantae","phenophase_id":201,"phenophase_description":"Open
        flowers (1 location)","first_yes_sample_size":3,"mean_first_yes_year":2010,"mean_first_yes_doy":133,"mean_first_yes_julian_date":2455330,"se_first_yes_in_days":14.169607537888,"mean_numdays_since_prior_no":7.3333333333333,"se_numday[...]
[...]
