http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getObservations.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"observation_id":4404637,"update_datetime":"2014-10-21 09:24:18","site_id":9343,"latitude":35.642799,"longitude":-83.695915,"elevation_in_meters":423,"state":"TN","species_id":970,"genus":"Platanus","species":"occidentalis","common_name":"American
        sycamore","kingdom":"Plantae","individual_id":33168,"phenophase_id":371,"phenophase_description":"Breaking
        leaf buds","observation_date":"2013-04-21","day_of_year":111,"phenophase_status":1,"intensity_category_id":39,"intensity_value":-9999,"abundance_value":-9999,"order_id":94},{"observation_id":4407896,"update_datetime":"2014-10-21
        11:00:13","site_id":9343,"latitude":35.642799,"longitude":-83.695915,"elevation_in_meters":423,"state":"TN","species_id":970,"genus":"Platanus","species":"occidentalis","common_name":"American
        sycamore","kingdom":"Plantae","individual_id":33168,"phenophase_id":371,"phenophase_description":"Breaking
        leaf buds","observation_date":"2013-04-23","day_of_year":113,"phenophase_status":1,"intensity_category_id":39,"inten[...]
