http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/phenophases/getPhenophaseDetails.json?ids=56
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"phenophase_id":56,"phenophase_description":"First leaf (3 locations)","definition_ids":"''56''","phenophase_names":"First
        leaf","phenophase_revision_comments":"Test Comment"}]'
  recorded_at: 2020-11-12 23:03:10 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
