http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/stations/getStationsByLocation.json?wkt=POLYGON%20%28%28-102.04224%2036.993083%2C-109.045223%2036.999084%2C-109.050076%2041.000659%2C-102.051614%2041.002377%2C-102.04224%2036.993083%29%29
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"latitude":37.629002,"longitude":-106.672997,"station_name":9050039,"station_id":21},{"latitude":39.990002,"longitude":-105.260002,"station_name":"PPN_50848","station_id":52},{"latitude":39.975800,"longitude":-104.809196,"station_name":"PPN_50950","station_id":53},{"latitude":38.553902,"longitude":-107.090698,"station_name":"PPN_51713","station_id":54},{"latitude":38.780499,"longitude":-105.182404,"station_name":"PPN_51977","station_id":55},{"latitude":38.922501,"longitude":-108.831001,"station_name":"PPN_53307","station_id":57},{"latitude":40.443401,"longitude":-106.902199,[...]
