http_interactions:
- request:
    method: get
    uri: https://services-staging.usanpn.org/npn_portal/phenophases/getPhenophaseDetails.json?ids=56
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"phenophase_id":56,"phenophase_description":"First leaf (3 locations)","definition_ids":"''56''","phenophase_names":"First
        leaf","phenophase_revision_comments":""}]'
  recorded_at: 2024-01-23 19:53:25 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
