http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getObservations.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"observation_id":1985487,"update_datetime":-9999,"site_id":5384,"latitude":40.855930,"longitude":-73.200668,"elevation_in_meters":17,"state":"NY","species_id":390,"genus":"Lepomis","species":"macrochirus","common_name":"bluegill","kingdom":"Animalia","individual_id":11123,"phenophase_id":290,"phenophase_description":"Individuals
        in a net","observation_date":"2013-04-01","day_of_year":91,"phenophase_status":1,"intensity_category_id":-9999,"intensity_value":-9999,"abundance_value":1,"class_id":11},{"observation_id":1985483,"update_datetime":-9999,"site_id":5384,"latitude":40.855930,"longitude":-73.200668,"elevation_in_meters":17,"state":"NY","species_id":390,"genus":"Lepomis","species":"macrochirus","common_name":"bluegill","kingdom":"Animalia","individual_id":11123,"phenophase_id":318,"phenophase_description":"Adults
        in freshwater","observation_date":"2013-04-01","day_of_year":91,"phenophase_status":1,"intensity_category_id":-9999,"intensity_value":-9999,"abundance_value":1,"[...]
