http_interactions:
- request:
    method: get
    uri: https://services-staging.usanpn.org/npn_portal/observations/getDatasetDetails.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"dataset_id":1,"dataset_name":"Legacy Lilac Data","dataset_description":"Legacy
        lilac phenology data for Eastern US (SCSV) and Western US","contact_name":"Mark
        D. Schwarz","contact_institution":"USA NPN","contact_email":"mds@uwm.edu","contact_phone":"(414)
        229-3740 ","contact_address":"Department of Geography, Bolton 410  P.O. Box
        413  University of Wisconsin-Milwaukee  Milwaukee, WI  53201-0413 ","dataset_comments":"","dataset_documentation_url":null},{"dataset_id":3,"dataset_name":"Nature''s
        Notebook Mobile App","dataset_description":"Mobile app submissions of Nature''s
        Notebook data","contact_name":"USA National Phenology Network","contact_institution":"","contact_email":"lee@usanpn.org","contact_phone":null,"contact_address":null,"dataset_comments":null,"dataset_documentation_url":null},{"dataset_id":6,"dataset_name":"NEON
        Pilot Data 2011","dataset_description":"NEON initial pilot year at CPER","contact_name":[...]
