http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":3,"latitude":35.879211,"longitude":-84.172203,"elevation_in_meters":284,"state":"TN","kingdom":"Plantae","order_id":78,"order_name":"Fabales","order_common_name":"Pea
        and Milkwort Families","pheno_class_id":1,"pheno_class_name":"Initial shoot
        or leaf growth","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":102,"mean_first_yes_julian_date":2456395,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":2,"se_numdays_since_prior_no":-9999,"last_yes_sample_size":1,"mean_last_yes_year":2013,"mean_last_yes_doy":107,"mean_last_yes_julian_date":2456400,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":3,"se_numdays_until_next_no":-9999},{"site_id":3,"latitude":35.879211,"longitude":-84.172203,"elevation_in_meters":284,"state":"TN","kingdom":"Plantae","order_id":78,"order_name":"Fabales","order_common_name":"Pea
        and Milkwort Families","pheno_class_id":3,"pheno_class_name":"Leaves or needles","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":102,"mean_first_yes_julian_date":2456395,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":2,"se_numdays_since_prior_no":-9999,"last_yes_sample[...]
