http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getObservations.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&additional_field[1]=Family_ID&family_id[1]=109&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"observation_id":2251706,"update_datetime":-9999,"site_id":8538,"latitude":44.338127,"longitude":-68.063263,"elevation_in_meters":20,"state":"ME","species_id":331,"genus":"Ambystoma","species":"maculatum","common_name":"spotted
        salamander","kingdom":"Animalia","individual_id":26061,"phenophase_id":274,"phenophase_description":"Adults
        on land","observation_date":"2013-04-09","day_of_year":99,"phenophase_status":0,"intensity_category_id":-9999,"intensity_value":-9999,"abundance_value":-9999,"family_id":109},{"observation_id":2249009,"update_datetime":-9999,"site_id":8538,"latitude":44.338127,"longitude":-68.063263,"elevation_in_meters":20,"state":"ME","species_id":331,"genus":"Ambystoma","species":"maculatum","common_name":"spotted
        salamander","kingdom":"Animalia","individual_id":26061,"phenophase_id":274,"phenophase_description":"Adults
        on land","observation_date":"2013-04-17","day_of_year":107,"phenophase_status":0,"intensity_category_id":-9999,"intensity_value":-9999,"abunda[...]
