http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/stations/getStationsByLocation.json?wkt=POLYGON%20%28%28-102.04224%2036.993083%2C-109.045223%2036.999084%2C-109.050076%2041.000659%2C-102.051614%2041.002377%2C-102.04224%2036.993083%29%29
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"latitude":37.629002,"longitude":-106.672997,"station_name":9050039,"station_id":21},{"latitude":39.990002,"longitude":-105.260002,"station_name":"PPN_50848","station_id":52},{"latitude":39.975800,"longitude":-104.809196,"station_name":"PPN_50950","station_id":53},{"latitude":38.553902,"longitude":-107.090698,"station_name":"PPN_51713","station_id":54},{"latitude":38.780499,"longitude":-105.182404,"station_name":"PPN_51977","station_id":55},{"latitude":38.922501,"longitude":-108.831001,"station_name":"PPN_53307","station_id":57},{"latitude":40.443401,"longitude":-106.902199,[...]
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":63,"latitude":40.965267,"longitude":-105.218773,"elevation_in_meters":2136,"state":"CO","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","individual_id":2957,"phenophase_id":205,"phenophase_description":"Open
        flowers (lilac)","first_yes_year":2016,"first_yes_month":6,"first_yes_day":8,"first_yes_doy":160,"first_yes_julian_date":2457548,"numdays_since_prior_no":3,"last_yes_year":2016,"last_yes_month":6,"last_yes_day":21,"last_yes_doy":173,"last_yes_julian_date":2457561,"numdays_until_next_no":-9999},{"site_id":63,"latitude":40.965267,"longitude":-105.218773,"elevation_in_meters":2136,"state":"CO","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","individual_id":2957,"phenophase_id":206,"phenophase_description":"Full
        flowering (lilac)","first_yes_year":2016,"first_yes_month":6,"first_yes_day":8,"first_yes_doy":160,"first_yes_julian_date":2457548,"numdays_since_prior_no":3,"last_yes_year":2016,"last_yes_m[...]
