http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":9,"latitude":43.097801,"longitude":-87.892998,"elevation_in_meters":201,"state":"WI","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","phenophase_id":205,"phenophase_description":"Open
        flowers (lilac)","first_yes_sample_size":2,"mean_first_yes_year":2016,"mean_first_yes_doy":140,"mean_first_yes_julian_date":2457528,"se_first_yes_in_days":0,"mean_numdays_since_prior_no":1,"se_numdays_since_prior_no":0,"last_yes_sample_size":2,"mean_last_yes_year":2016,"mean_last_yes_doy":154,"mean_last_yes_julian_date":2457542,"se_last_yes_in_days":0,"mean_numdays_until_next_no":1,"se_numdays_until_next_no":0},{"site_id":9,"latitude":43.097801,"longitude":-87.892998,"elevation_in_meters":201,"state":"WI","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","phenophase_id":206,"phenophase_description":"Full
        flowering (lilac)","first_yes_sample_size":2,"mean_first_yes_year":2016,"mean_first_yes_doy":145,"mean_first_yes_julian_date":2457533,"se_first_yes_in_days":0,"mean_numdays_since_prior_no":1,"se_numdays_since_prior_no"[...]
