http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?order_id%5B1%5D=74&order_id%5B2%5D=75&return_all=1
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"order_id":74,"order_name":"Commelinales","phenophases":[{"phenophase_id":482,"phenophase_name":"Emerging
        growth","phenophase_category":"Leaves","phenophase_definition":"New bright
        green growth of the plant is visible above the soil surface, either from above-ground
        buds with green tips, or new green or white shoots breaking through the soil
        surface. Growth is considered ''emerging'' until the first leaf has fully
        unfolded from that bud or shoot.","seq_num":10,"color":"Green1","pheno_class_id":1,"pheno_class_name":"Initial
        shoot or leaf growth","pheno_class_sequence":10,"phenophase_definition_id":198},{"phenophase_id":482,"phenophase_name":"Initial
        growth","phenophase_category":"Leaves","phenophase_definition":"New growth
        of the plant is visible, either from above-ground buds with green tips, or
        new green or white shoots breaking through the soil surface. Growth is considered
        ''initial'' on each bud or shoot until the first leaf has fully unfolded.","seq_num":10,"color":"Green1","pheno_class_id":1,"pheno_class_name":"Initial
        shoot or leaf growth","[...]
