http_interactions:
- request:
    method: get
    uri: https://services-staging.usanpn.org/npn_portal/species/getSpeciesFilter.json?start_date=2013-01-01&end_date=2013-05-15
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"common_name":"''ohi''a lehua","genus":"Metrosideros","genus_common_name":"Lehuas
        (Metrosideros)","genus_id":798,"species":"polymorpha","species_id":120,"family_id":301,"family_name":"Myrtaceae","family_common_name":"Myrtle
        Family","class_id":15,"class_name":"Magnoliopsida","class_common_name":"Flowering
        Plants","order_id":89,"order_name":"Myrtales","order_common_name":"Myrtle
        and Evening-primrose Families","itis_taxonomic_sn":27259,"functional_type":"Evergreen
        broadleaf","kingdom":"Plantae","number_observations":70},{"common_name":"Acadian
        flycatcher","genus":"Empidonax","genus_common_name":"Empidonax Flycatchers
        (Empidonax)","genus_id":612,"species":"virescens","species_id":1227,"family_id":154,"family_name":"Tyrannidae","family_common_name":"Tyrant
        Flycatchers","class_id":5,"class_name":"Aves","class_common_name":"Birds","order_id":31,"order_name":"Passeriformes","order_common_name":"Perching
        Birds","itis_taxonomic_sn":178339,"functional_type":"Bird","kingdom":"Animalia[...]
