http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/observations/getSummarizedData.json?request_src=Unit%20Test&start_date=2013-01-01&end_Date=2013-12-31&species_id[0]=6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"site_id":6,"latitude":43.040955,"longitude":-76.212914,"elevation_in_meters":163,"state":"NY","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","individual_id":6357,"phenophase_id":200,"phenophase_description":"All leaves withered (herbaceous and grasses)","first_yes_year":2010,"first_yes_month":7,"first_yes_day":30,"first_yes_doy":211,"first_yes_julian_date":2455408,"numdays_since_prior_no":15,"last_yes_year":2010,"last_yes_month":8,"last_yes_day":9,"last_yes_doy":221,"last_yes_julian_date":2455418,"numdays_until_next_no":-9999},{"site_id":6,"latitude":43.040955,"longitude":-76.212914,"elevation_in_meters":163,"state":"NY","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","individual_id":6357,"phenophase_id":201,"phenophase_description":"Open flowers (1 location)","first_yes_year":2010,"first_yes_month":5,"first_yes_day":5,"first_yes_doy":125,"first_yes_julian_date":2455322,"numdays_since_prior_no":-9999,"last_yes_year":2010,"last_yes_month":5,"last_ye[...]
