http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getObservations.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"observation_id":2307925,"update_datetime":-9999,"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","individual_id":3201,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","observation_date":"2013-04-29","day_of_year":119,"phenophase_status":0,"intensity_category_id":58,"intensity_value":-9999,"abundance_value":-9999},{"observation_id":2307939,"update_datetime":-9999,"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","individual_id":3201,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","observation_date":"2013-05-05","day_of_year":125,"phenophase_status":0,"intensity_category_id":58,"intensity_value":-9999,"abundance_val[...]
