http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&family_id[1]=322&pheno_class_id[1]=1&pheno_class_id[2]=3&pheno_class_id[3]=6&pheno_class_aggregate=1&num_days_quality_filter=30&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":38,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","pheno_class_id":1,"pheno_class_name":"Initial shoot or leaf growth","first_yes_sample_size":2,"mean_first_yes_year":2013,"mean_first_yes_doy":122,"mean_first_yes_julian_date":2456415,"se_first_yes_in_days":3,"mean_numdays_since_prior_no":6.5,"se_numdays_since_prior_no":0.5,"last_yes_sample_size":2,"mean_last_yes_year":2013,"mean_last_yes_doy":136,"mean_last_yes_julian_date":2456429,"se_last_yes_in_days":0,"mean_numdays_until_next_no":8,"se_numdays_until_next_no":0},{"site_id":38,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","pheno_class_id":3,"pheno_class_name":"Leaves or needles","first_yes_sample_size":2,"mean_first_yes_year":2013,"mean_first_yes_doy":125,"mean_first_yes_julian_date":2456418,"se_first_yes_in_days":0,"mean_numdays_since_prior_no":6,"se_numdays_since_prior_no":0,"last_yes_sample_size":2,"[...]
