http_interactions:
- request:
    method: get
    uri: https://data-dev.usanpn.org/geoservices/v1/agdd/double-sine/pointTimeSeries?climateProvider=NCEP&temperatureUnit=fahrenheit&startDate=2019-01-01&endDate=2019-01-15&latitude=39.7&longitude=-107.5&lowerThreshold=25&upperThreshold=90
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"4f6-iENhcemtQDFtyveRWrznb04iMBw"
    body:
      encoding: UTF-8
      file: no
      string: '{"climateProvider":"NCEP","temperatureUnit":"fahrenheit","startDate":"2019-01-01","endDate":"2019-01-15","lowerThreshold":25,"upperThreshold":90,"latitude":39.7,"longitude":-107.5,"timeSeries":[{"date":"2019-01-01","doy":1,"gdd":0,"agdd":0},{"date":"2019-01-02","doy":2,"gdd":0,"agdd":0},{"date":"2019-01-03","doy":3,"gdd":0,"agdd":0},{"date":"2019-01-04","doy":4,"gdd":1.4647688638263072,"agdd":1.4647688638263072},{"date":"2019-01-05","doy":5,"gdd":4.74998735182138,"agdd":6.214756215647688},{"date":"2019-01-06","doy":6,"gdd":5.734634929646188,"agdd":11.949391145293877},{"date":"2019-01-07","doy":7,"gdd":1.251783633619752,"agdd":13.201174778913629},{"date":"2019-01-08","doy":8,"gdd":0,"agdd":13.201174778913629},{"date":"2019-01-09","doy":9,"gdd":3.313115389868103,"agdd":16.51429016878173},{"date":"2019-01-10","doy":10,"gdd":7.208651577051687,"agdd":23.722941745833417},{"date":"2019-01-11","doy":11,"gdd":6.276859476468096,"agdd":29.999801222301514},{"date":"2019-01-12","doy":12,"gdd":0,"agdd":29.999801222301514},{"date":"2019-01-13","doy":13,"gdd":1.0264293746547666,"agdd":31.02623059695628},{"date":"2019-01-14","doy":14,"gdd":0.7390871207214376,"agdd":31.765317717677718},{"date":"2019-01-15","doy":15,"gdd":2.1301579207567185,"agdd":33.895475638434434}]}'
  recorded_at: 2021-03-22 19:44:23 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
