http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/stations/getStationsWithSpecies.json?species_id%5B1%5D=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"latitude":41.329971,"longitude":-80.741478,"station_name":"PPN_9339927","station_id":560},{"latitude":44.34095,"longitude":-72.46122,"station_name":"Frizzle
        Mountain","station_id":637},{"latitude":37.32526,"longitude":-79.055511,"station_name":"PPN_9440008","station_id":644},{"latitude":40.033203,"longitude":-75.310753,"station_name":"Harriton
        Park","station_id":866},{"latitude":39.816456,"longitude":-83.858879,"station_name":"home","station_id":949},{"latitude":42.285683,"longitude":-84.128387,"station_name":"Home","station_id":973},{"latitude":39.367615,"longit[...]
