http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophaseDetails.json?ids=56
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"phenophase_id":56,"phenophase_description":"First leaf (3 locations)","definition_ids":"''56''","phenophase_names":"First
        leaf","phenophase_revision_comments":""}]'
  recorded_at: 2024-11-20 19:11:26 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
