http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&species_id[1]=35&start_date=2016-01-01&end_date=2016-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":9,"latitude":43.097801,"longitude":-87.892998,"elevation_in_meters":201,"state":"WI","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","individual_id":13,"phenophase_id":205,"phenophase_description":"Open
        flowers (lilac)","first_yes_year":2016,"first_yes_month":5,"first_yes_day":19,"first_yes_doy":140,"first_yes_julian_date":2457528,"numdays_since_prior_no":1,"last_yes_year":2016,"last_yes_month":6,"last_yes_day":2,"last_yes_doy":154,"last_yes_julian_date":2457542,"numdays_until_next_no":1},{"site_id":9,"latitude":43.097801,"longitude":-87.892998,"elevation_in_meters":201,"state":"WI","species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","individual_id":13,"phenophase_id":206,"phenophase_description":"Full
        flowering (lilac)","first_yes_year":2016,"first_yes_month":5,"first_yes_day":24,"first_yes_doy":145,"first_yes_julian_date":2457533,"numdays_since_prior_no":1,"last_yes_year":2016,"last_yes_month":6,[...]
