http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&additional_field[1]=Family_ID&family_id[1]=322&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","individual_id":3201,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","first_yes_year":2013,"first_yes_month":6,"first_yes_day":20,"first_yes_doy":171,"first_yes_julian_date":2456464,"numdays_since_prior_no":9,"last_yes_year":2013,"last_yes_month":6,"last_yes_day":20,"last_yes_doy":171,"last_yes_julian_date":2456464,"numdays_until_next_no":13},{"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","individual_id":3201,"phenophase_id":482,"phenophase_description":"Initial
        growth (forbs)","first_yes_year":2013,"first_yes_month":5,"first_yes_day":5,"first_yes_doy":125,"fir[...]
