http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/species/getSpeciesByState.json?state=AZ
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"species_id":1229,"common_name":"acorn woodpecker","genus":"Melanerpes","kingdom":"Animalia","species":"formicivorus","itis_taxonomic_sn":178189},{"species_id":1343,"common_name":"alderleaf
        mountain-mahogany","genus":"Cercocarpus","kingdom":"Plantae","species":"montanus","itis_taxonomic_sn":25136},{"species_id":174,"common_name":"alfalfa","genus":"Medicago","kingdom":"Plantae","species":"sativa","itis_taxonomic_sn":183623},{"species_id":1032,"common_name":"alkali
        sacaton","genus":"Sporobolus","kingdom":"Plantae","species":"airoides","itis_taxonomic_sn":42128},{"species_id":1414,"common_name":"Allen''s
        hummi[...]
