http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","phenophase_id":205,"phenophase_description":"Open
        flowers (lilac)","year":2016,"start_date":"2016-01-01","end_date":"2016-01-30","status_records_sample_size":10,"individuals_sample_size":3,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"species_id":35,"genus":"Syringa","species":"chinensis","common_name":"Red
        Rothomagensis lilac","kingdom":"Plantae","phenophase_id":206,"phenophase_description":"Full
        flowering (lilac)","year":2016,"start_date":"2016-01-01","end_date":"2016-01-30","status_records_sample_size":10,"individuals_sample_size":3,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_ye[...]
