http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/stations/getStationsByLocation.json?wkt=POLYGON+%28%28-102.04224+36.993083%2C-109.045223+36.999084%2C-109.050076+41.000659%2C-102.051614+41.002377%2C-102.04224+36.993083%29%29
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"latitude":37.629002,"longitude":-106.672997,"station_name":9050039,"station_id":21},{"latitude":39.990002,"longitude":-105.260002,"station_name":"PPN_50848","station_id":52},{"latitude":39.975800,"longitude":-104.809196,"station_name":"PPN_50950","station_id":53},{"latitude":38.553902,"longitude":-107.090698,"station_name":"PPN_51713","station_id":54},{"latitude":38.780499,"longitude":-105.182404,"station_name":"PPN_51977","station_id":55},{"latitude":38.922501,"longitude":-108.831001,"station_name":"PPN_53307","station_id":57},{"latitude":40.443401,"longitude":-106.902199,[...]
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&species_id[1]=35&station_id[1]=21&station_id[2]=52&station_id[3]=53&station_id[4]=54&station_id[5]=55&station_id[6]=57&station_id[7]=58&station_id[8]=59&station_id[9]=60&station_id[10]=61&station_id[11]=62&station_id[12]=63&station_id[13]=64&station_id[14]=257&station_id[15]=258&station_id[16]=259&station_id[17]=260&statio[...]
