http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/stations/getStationsByLocation.json?wkt=POLYGON%28%28-110.94484396954107%2032.23623109416672%2C-110.96166678448247%2032.23594069208043%2C-110.95960684795904%2032.21328646993733%2C-110.94244071026372%2032.21343170728929%2C-110.93935080547857%2032.23216538049456%2C-110.94484396954107%2032.23623109416672%29%29
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"latitude":32.228123,"longitude":-110.942818,"station_name":"Demo","station_id":18},{"latitude":32.223789,"longitude":-110.947220,"station_name":"Home","station_id":28},{"latitude":32.228146,"longitude":-110.942749,"station_name":"Office
        of Arid Land Studies","station_id":1573},{"latitude":32.228123,"longitude":-110.942818,"station_name":"Work","station_id":2631},{"latitude":32.215366,"longitude":-110.954544,"station_name":"Home","station_id":5069},{"latitude":32.235649,"longitude":-110.950851,"station_name":"work","station_id":5360},{"latitude":32.228123,"longitude[...]
