http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/phenophases/getPhenophases.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"phenophase_id":56,"phenophase_name":"First leaf ","phenophase_category":"Leaves","color":null,"pheno_class_id":1},{"phenophase_id":57,"phenophase_name":"75%
        leaf elongation ","phenophase_category":"Leaves","color":null,"pheno_class_id":2},{"phenophase_id":58,"phenophase_name":"First
        flower ","phenophase_category":"Flowers","color":null,"pheno_class_id":7},{"phenophase_id":59,"phenophase_name":"Last
        flower","phenophase_category":"Flowers","color":null,"pheno_class_id":9},{"phenophase_id":60,"phenophase_name":"First
        fruit ripe ","phenophase_category":"Fruits","color":null,"p[...]
