http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      string: request_src=Unit%2520Test&climate_data=1&species_id[1]=6&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","individual_id":3201,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","first_yes_year":2013,"first_yes_month":6,"first_yes_day":20,"first_yes_doy":171,"first_yes_julian_date":2456464,"numdays_since_prior_no":9,"last_yes_year":2013,"last_yes_month":6,"last_yes_day":20,"last_yes_doy":171,"last_yes_julian_date":2456464,"numdays_until_next_no":13,"gdd":836.75,"gddf":1506.15,"tmax_winter":-3.43,"tmax_spring":9.26,"tmax_summer":26.62,"tmax_fall":14.15,"tmax":30.00,"tmaxf":86.00,"tmin_winter":-13.84,"tmin_spring":-2.24,"tmin_summer":14.24,"tmin_fall":0.91,"tmin":16.50,"tminf":61.70,"prcp_winter":84.00,"prcp_spring":284.00,"prcp_summer":275.00,"prcp_fall":87.00,"prcp":0.00,"acc_prcp":369.00,"daylength":55642},{"site_id":5952,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","individual_id":3201,"phenophase_id":482,"phenophase_description":"Initial
        growth (forbs)","first_yes_year":2013,"first_yes_month":5,"first_yes_day":5,"first_yes_doy":125,"first_yes_julian_date":2456418,"numdays_since_prior_no":6,"last_yes_year":2013,"last_yes_month[...]
