http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&family_id[1]=322&pheno_class_id[1]=1&pheno_class_id[2]=3&pheno_class_id[3]=6&pheno_class_aggregate=1&frequency=30&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"kingdom":"Plantae","pheno_class_id":1,"pheno_class_name":"Initial
        shoot or leaf growth","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":27,"individuals_sample_size":7,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"kingdom":"Plantae","pheno_class_id":3,"pheno_class_name":"Leaves
        or needles","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":27,"individuals_sample_size":7,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample[...]
