http_interactions:
- request:
    method: GET
    uri: https://services.usanpn.org/npn_portal/species/getSpeciesFilter.json?start_date=2023-01-01&end_date=2023-05-15
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: '[{"common_name":"''ohi''a lehua","genus":"Metrosideros","genus_common_name":"Lehuas
        (Metrosideros)","genus_id":798,"species":"polymorpha","species_id":120,"family_id":301,"family_name":"Myrtaceae","family_common_name":"Myrtle
        Family","class_id":15,"class_name":"Magnoliopsida","class_common_name":"Flowering
        Plants","order_id":89,"order_name":"Myrtales","order_common_name":"Myrtle
        and Evening-primrose Families","itis_taxonomic_sn":27259,"functional_type":"Evergreen
        broadleaf","kingdom":"Plantae","number_observations":674},{"common_name":"absinthium","genus":"Artemisia","genus_common_name":"Sagebrushes
        (Artemisia)","genus_id":437,"species":"absinthium","species_id":1436,"family_id":242,"family_name":"Asteraceae","family_common_name":"Aster
        Family","class_id":15,"class_name":"Magnoliopsida","class_common_name":"Flowering
        Plants","order_id":69,"order_name":"Asterales","order_common_name":"Aster,
        Bellflower and Buckbean Families","itis_taxonomic_sn":35445,"functional_type":"Forb",[...]
