http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenophasesForTaxon.json?class_id%5B1%5D=5&date=2018-05-05&return_all=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"class_id":5,"class_name":"Aves","phenophases":[{"phenophase_id":292,"phenophase_name":"Active
        individuals","phenophase_category":"Activity","phenophase_definition":"One
        or more individuals are seen moving about or at rest.","seq_num":10010,"color":"Brown1","pheno_class_id":62,"pheno_class_name":"Active
        individuals","pheno_class_sequence":10,"phenophase_definition_id":292},{"phenophase_id":542,"phenophase_name":"Feeding","phenophase_category":"Activity","phenophase_definition":"One
        or more individuals are seen feeding or foraging. If possible, record the
        name of the species or substance being eaten or describe it in the comments
        field.","seq_num":10100,"color":"Brown1","pheno_class_id":68,"pheno_class_name":"Feeding","pheno_class_sequence":70,"phenophase_definition_id":575},{"phenophase_id":310,"phenophase_name":"Fruit\/seed
        co[...]
