http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/stations/getAllStations.json?state_code=AZ
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"latitude":32.280167,"longitude":-110.963211,"station_name":"Sonora
        Cohousing","station_id":10,"network_id":"","file_url":null},{"latitude":32.230686,"longitude":-110.962044,"station_name":"lisa
        home","station_id":17,"network_id":"","file_url":null},{"latitude":32.228123,"longitude":-110.942818,"station_name":"Demo","station_id":18,"network_id":"","file_url":null},{"latitude":32.180065,"longitude":-111.096359,"station_name":"Home","station_id":26,"network_id":"","file_url":null},{"latitude":32.224602,"longitude":-110.906807,"station_name":"Marys
        house","station_id":27,"network_id":"","file_url":null[...]
