http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/stations/getStationsWithSpecies.json?species_id%5B1%5D=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"latitude":43.08535,"longitude":-70.69133,"station_name":"Home","station_id":2},{"latitude":43.040955,"longitude":-76.212914,"station_name":"Stewardship
        Garden","station_id":6},{"latitude":40.060001,"longitude":-87.57,"station_name":"Conkey
        Branch Survey","station_id":22},{"latitude":40.633945,"longitude":-75.662949,"station_name":9360018,"station_id":44},{"latitude":38.059898,"longitude":-87.641197,"station_name":"PPN_9120024","station_id":374},{"latitude":44.277962,"longitude":-70.315315,"station_name":"PPN_9170001","station_id":414},{"latitude":42.3230[...]
