http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/observations/getSiteLevelData.json?request_src=Unit%20Test&start_date=2013-01-01&end_Date=2013-12-31&species_id[0]=6&num_days_quality_filter=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"site_id":6,"latitude":43.040955,"longitude":-76.212914,"elevation_in_meters":163,"state":"NY","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","phenophase_id":202,"phenophase_description":"Ripe fruits (1 location)","first_yes_sample_size":0,"mean_first_yes_year":-9999,"mean_first_yes_doy":-9999,"mean_first_yes_julian_date":-9999,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":-9999,"se_numdays_since_prior_no":-9999,"last_yes_sample_size":1,"mean_last_yes_year":2010,"mean_last_yes_doy":161,"mean_last_yes_julian_date":2455358,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":5,"se_numdays_until_next_no":-9999},{"site_id":6,"latitude":43.040955,"longitude":-76.212914,"elevation_in_meters":163,"state":"NY","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","phenophase_id":482,"phenophase_description":"Initial growth (forbs)","first_yes_sample_size":0,"mean_first_yes_year":-9999,"mean_first_yes_doy":-9999,"mean_first_yes_julian_date":-9999,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":-9999,"se_numdays_since_prior_no":-9999,[...]
