http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/species/getSpeciesByState.json?state=AZ&kingdom=Animalia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"species_id":1229,"common_name":"acorn woodpecker","genus":"Melanerpes","kingdom":"Animalia","species":"formicivorus","itis_taxonomic_sn":178189},{"species_id":1414,"common_name":"Allen''s
        hummingbird","genus":"Selasphorus","kingdom":"Animalia","species":"sasin","itis_taxonomic_sn":178041},{"species_id":1668,"common_name":"American
        badger","genus":"Taxidea","kingdom":"Animalia","species":"taxus","itis_taxonomic_sn":180565},{"species_id":348,"common_name":"American
        bullfrog","genus":"Lithobates","kingdom":"Animalia","species":"catesbeianus","itis_taxonomic_sn":775084},{"species_id":1379,"common_name":"Americ[...]
