http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"kingdom":"Plantae","order_id":78,"order_name":"Fabales","order_common_name":"Pea
        and Milkwort Families","pheno_class_id":1,"pheno_class_name":"Initial shoot
        or leaf growth","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":58,"individuals_sample_size":17,"sites_sample_size":12,"num_yes_records":3,"numindividuals_with_yes_record":3,"numsites_with_yes_record":-9999,"proportion_yes_records":0.05,"proportion_individuals_with_yes_record":0.18,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"kingdom":"Plantae","order_id":78,"order_name":"Fabales","order_common_name":"Pea
        and Milkwort Families","pheno_class_id":3,"pheno_class_name":"Leaves or needles","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":151,"individuals_sample_size":45,"sites_sample_size":25,"num_yes_records":76,"numindividuals_with_yes_record":23,"numsites_with_yes_record":-9999,"proportion_yes_records":0.5,"proportion_individuals_with_yes_record":0.51,"proporti[...]
