http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSummarizedData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":1484,"latitude":47.776241,"longitude":-122.377419,"elevation_in_meters":98,"state":"WA","species_id":119,"genus":"Berberis","species":"repens","common_name":"creeping
        barberry","kingdom":"Plantae","order_id":95,"order_name":"Ranunculales","order_common_name":"Barberry,
        Poppy and Buttercup Families","individual_id":2560,"phenophase_id":371,"phenophase_description":"Breaking
        leaf buds","first_yes_year":2013,"first_yes_month":4,"first_yes_day":21,"first_yes_doy":111,"first_yes_julian_date":2456404,"numdays_since_prior_no":14,"last_yes_year":2013,"last_yes_month":5,"last_yes_day":2,"last_yes_doy":122,"last_yes_julian_date":2456415,"numdays_until_next_no":7},{"site_id":1484,"latitude":47.776241,"longitude":-122.377419,"elevation_in_meters":98,"state":"WA","species_id":119,"genus":"Berberis","species":"repens","common_name":"creeping
        barberry","kingdom":"Plantae","order_id":95,"order_name":"Ranunculales","order_common_name":"Barberry,
        Poppy and Buttercup Families","individual_id":2560,"phenophase_id":371,"phenophase_description":"Breaking
        leaf buds","first_yes_year":2013,"first_yes_month":5,"first_yes_day":16,"first_yes_doy[...]
[...]
