http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","phenophase_id":390,"phenophase_description":"Ripe fruits","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":27,"individuals_sample_size":7,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"kingdom":"Plantae","family_id":322,"family_name":"Ranunculaceae","family_common_name":"Buttercup
        Family","phenophase_id":482,"phenophase_description":"Initial growth (forbs)","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":27,"individuals_sample_size":7,"sites_sample_size":2,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"propo[...]
