http_interactions:
- request:
    method: post
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"site_id":38,"latitude":45.407852,"longitude":-93.200974,"elevation_in_meters":281,"state":"MN","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","phenophase_id":516,"phenophase_description":"Fruits","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":149,"mean_first_yes_julian_date":2456442,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":5,"se_numdays_since_prior_no":-9999,"last_yes_sample_size":0,"mean_last_yes_year":-9999,"mean_last_yes_doy":-9999,"mean_last_yes_julian_date":-9999,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":-9999,"se_numdays_until_next_no":-9999},{"site_id":678,"latitude":45.177551,"longitude":-89.848251,"elevation_in_meters":432,"state":"WI","species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","phenophase_id":482,"phenophase_description":"Initial
        growth (forbs)","first_yes_sample_size":0,"mean_first_yes_year":-9999,"mean_first_yes_doy":-9999,"mean_first_yes_julian_date":-9999,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":-9999,"se_numdays_sinc[...]
