http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getMagnitudeData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&additional_field[1]=Family_ID&family_id[1]=322&frequency=30&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow
        marsh marigold","kingdom":"Plantae","family_id":322,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":15,"individuals_sample_size":3,"sites_sample_size":1,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_yes_record":0,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"species_id":185,"genus":"Anemone","species":"patens","common_name":"eastern
        pasqueflower","kingdom":"Plantae","family_id":322,"phenophase_id":390,"phenophase_description":"Ripe
        fruits","year":2013,"start_date":"2013-01-01","end_date":"2013-01-30","status_records_sample_size":12,"individuals_sample_size":4,"sites_sample_size":1,"num_yes_records":0,"numindividuals_with_yes_record":0,"numsites_with_yes_record":-9999,"proportion_yes_records":0,"proportion_individuals_with_ye[...]
