http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/observations/getMagnitudeData.json?request_src=Unit%20Test&start_date=2013-01-01&end_Date=2013-12-31&species_id[0]=6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","phenophase_id":200,"phenophase_description":"All leaves withered (herbaceous and grasses)","year":"","start_date":"","end_date":"","status_records_sample_size":348,"individuals_sample_size":15,"sites_sample_size":11,"num_yes_records":11,"numindividuals_with_yes_record":4,"numsites_with_yes_record":-9999,"observation_date":"2010-04-16","proportion_yes_records":0.03,"proportion_individuals_with_yes_record":0.27,"proportion_sites_with_yes_record":-9999,"in-phase_sites_sample_size":-9999,"in-phase_site_visits_sample_size":-9999,"total_numanimals_in-phase":-9999,"mean_numanimals_in-phase":-9999,"se_numanimals_in-phase":-9999,"in-phase_per_hr_sites_sample_size":-9999,"in-phase_per_hr_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr":-9999,"se_numanimals_in-phase_per_hr":-9999,"in-phase_per_hr_per_acre_sites_sample_size":-9999,"in-phase_per_hr_per_acre_site_visits_sample_size":-9999,"mean_numanimals_in-phase_per_hr_per_acre":-9999,"se_numanimals_in-phase_per_hr_per_acre":-9999},{"species_id":6,"genus":"Caltha","species":"palustris","common_name":"yellow marsh marigold","kingdom":"Plantae","phenophase_id":201,"phenophase_description":"Open flowers (1 location)","year":"","start_date":"","end_date":"","status_records_sample_size":368,"individuals_sample_size":15,"sites_sample_size":11,"num_yes_records":45,"numindividuals_with_yes_record":14,"numsites_with_yes_record":-9999,"observation_date":"2009-07-20","proportion_yes_records":0.12,"proportion_individuals_with_y[...]
