http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/species/getSpeciesById.json?species_id=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"common_name":"red maple","genus":"Acer","species":"rubrum","kingdom":"Plantae","itis_taxonomic_sn":28728}'
  recorded_at: 2020-11-12 21:19:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
