http_interactions:
- request:
    method: get
    uri: https://services.usanpn.org/npn_portal/phenophases/getPhenoClasses.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"id":1,"name":"Initial shoot or leaf growth","description":"Initiation
        of seasonal vegetative growth","sequence":10},{"id":2,"name":"Young leaves
        or needles","description":"Presence of foliage still in process of maturing","sequence":20},{"id":3,"name":"Leaves
        or needles","description":"Presence of live foliage","sequence":30},{"id":4,"name":"Colored
        leaves or needles","description":"Senescent coloring of foliage","sequence":40},{"id":5,"name":"Falling
        leaves or needles","description":"Dropping of foliage","sequence":50},{"id":6,"name":"Flowers
        or pollen cones","desc[...]
