http_interactions:
- request:
    method: get
    uri: https://geoserver-dev.usanpn.org/geoserver/wcs?service=WCS&version=2.0.1&request=GetCoverage&coverageId=gdd%3Aagdd&format=application%2Fgml%2Bxml&subset=http%3A%2F%2Fwww.opengis.net%2Fdef%2Faxis%2FOGC%2F0%2FLong%28-110.5%29&subset=http%3A%2F%2Fwww.opengis.net%2Fdef%2Faxis%2FOGC%2F0%2FLat%2838.8%29&subset=http%3A%2F%2Fwww.opengis.net%2Fdef%2Faxis%2FOGC%2F0%2Ftime%28%222019-05-05T00%3A00%3A00.000Z%22%29
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: inline; filename=gdd:agdd.gml
      content-type: application/gml+xml
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><gml:RectifiedGridCoverage
        xmlns:wcscrs=\"http://www.opengis.net/wcs/service-extension/crs/1.0\" xmlns:int=\"http://www.opengis.net/WCS_service-extension_interpolation/1.0\"
        xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:gmlcov=\"http://www.opengis.net/gmlcov/1.0\"
        xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" gml:id=\"agdd\">\n
        \   <gml:boundedBy>\n        <gml:Envelope srsName=\"http://www.opengis.net/def/crs/EPSG/0/4269\"
        axisLabels=\"Lat Long\" uomLabels=\"Deg Deg\" srsDimension=\"2\">\n            <gml:lowerCorner>-110.50896966853418
        38.79102198697067</gml:lowerCorner>\n            <gml:upperCorner>-110.48650548334615
        38.81209283387621</gml:upperCorner>\n        </gml:Envelope>\n    </gml:boundedBy>\n
        \   <gml:domainSet>\n        <gml:RectifiedGrid gml:id=\"grid00__agdd\" dimension=\"2\">\n
        \           <gml:limits>\n                <gml:GridEnvelope>\n                    <gml:low>0
        1</gml:low>\n                    <gml:high>0 1</gml:high>\n                </gml:GridEnvelope>\n
        \           </gml:limits>\n            <gml:axisLabels>i j</gml:axisLabels>\n
        \           <gml:origin>\n                <gml:Point gml:id=\"p00_agdd\" srsName=\"http://www.opengis.net/def/crs/EPSG/0/4269\">\n
        \                   <gml:pos>-110.49773757594016 38.82262825732897</gml:pos>\n
        \               </gml:Point>\n            </gml:origin>\n            <gml:offsetVector
        srsName=\"http://www.opengis.net/def/crs/EPSG/0/4269\">0.0224641851880276
        0.0</gml:offsetVector>\n            <gml:offsetVector srsName=\"http://www.opengis.net/def/crs/EPSG/0/4269\">0.0
        -0.0210708469055375</gml:offsetVector>\n        </gml:RectifiedGrid>\n    </gml:domainSet>\n
        \   <gml:rangeType>\n        <swe:DataRecord>\n            <swe:field name=\"AGDD\">\n
        \               <swe:Quantity>\n                    <swe:description>AGDD</swe:description>\n
        \                   <swe:uom code=\"W.m-2.Sr-1\"/>\n                    <swe:constraint>\n
        \                       <swe:AllowedValues>\n                            <swe:interval>-3.4028235E38
        3.4028235E38</swe:interval>\n                        </swe:AllowedValues>\n
        \                   </swe:constraint>\n                    <swe:nilValues>\n
        \                       <swe:NilValues>\n                            <swe:nilValue
        reason=\"http://www.opengis.net/def/nil/OGC/0/unknown\">-9999.0</swe:nilValue>\n
        \                       </swe:NilValues>\n                    </swe:nilValues>\n
        \               </swe:Quantity>\n            </swe:field>\n        </swe:DataRecord>\n
        \   </gml:rangeType>\n    <gml:coverageFunction>\n        <gml:GridFunction>\n
        \           <gml:sequenceRule axisOrder=\"+1 +2\">Linear</gml:sequenceRule>\n
        \           <gml:startPoint>0 1</gml:startPoint>\n        </gml:GridFunction>\n
        \   </gml:coverageFunction>\n    <gml:rangeSet>\n        <gml:DataBlock>\n
        \           <gml:rangeParameters/>\n            <tupleList>1233.269287109375
        \n</tupleList>\n        </gml:DataBlock>\n    </gml:rangeSet>\n    <gmlcov:metadata>\n
        \       <gmlcov:Extension/>\n    </gmlcov:metadata>\n</gml:RectifiedGridCoverage>\n"
  recorded_at: 2020-11-12 21:19:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
