http_interactions:
- request:
    method: POST
    uri: https://services.usanpn.org/npn_portal/observations/getSiteLevelData.json
    body:
      string: request_src=Unit%2520Test&climate_data=0&additional_field[1]=Order_ID&order_id[1]=95&num_days_quality_filter=30&start_date=2013-01-01&end_date=2013-12-31
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '[{"site_id":2,"latitude":43.085350,"longitude":-70.691330,"elevation_in_meters":12,"state":"ME","species_id":26,"genus":"Podophyllum","species":"peltatum","common_name":"mayapple","kingdom":"Plantae","order_id":95,"order_name":"Ranunculales","order_common_name":"Barberry,
        Poppy and Buttercup Families","phenophase_id":482,"phenophase_description":"Initial
        growth (forbs)","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":107,"mean_first_yes_julian_date":2456400,"se_first_yes_in_days":-9999,"mean_numdays_since_prior_no":1,"se_numdays_since_prior_no":-9999,"last_yes_sample_size":1,"mean_last_yes_year":2013,"mean_last_yes_doy":114,"mean_last_yes_julian_date":2456407,"se_last_yes_in_days":-9999,"mean_numdays_until_next_no":6,"se_numdays_until_next_no":-9999},{"site_id":2,"latitude":43.085350,"longitude":-70.691330,"elevation_in_meters":12,"state":"ME","species_id":26,"genus":"Podophyllum","species":"peltatum","common_name":"mayapple","kingdom":"Plantae","order_id":95,"order_name":"Ranunculales","order_common_name":"Barberry,
        Poppy and Buttercup Families","phenophase_id":488,"phenophase_description":"Leaves
        (forbs)","first_yes_sample_size":1,"mean_first_yes_year":2013,"mean_first_yes_doy":114,"mean_first_yes_julian_date":245640[...]
