http_interactions:
- request:
    method: get
    uri: https://www-dev.usanpn.org/npn_portal/stations/getAllStations.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"latitude":43.08535,"longitude":-70.69133,"station_name":"Home","station_id":2,"network_id":"","file_url":null},{"latitude":35.879211,"longitude":-84.172203,"station_name":"BEW_Home","station_id":3,"network_id":"","file_url":null},{"latitude":43.040955,"longitude":-76.212914,"station_name":"Stewardship
        Garden","station_id":6,"network_id":"","file_url":null},{"latitude":34.106262,"longitude":-83.109116,"station_name":"holly
        creek","station_id":7,"network_id":"","file_url":null},{"latitude":42.459816,"longitude":-76.489372,"station_name":"Highland
        Road","station_id":8,"network_[...]
