http_interactions:
- request:
    method: get
    uri: https://services-staging.usanpn.org/npn_portal/species/getSpeciesById.json?species_id=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"common_name":"red maple","genus":"Acer","species":"rubrum","kingdom":"Plantae","itis_taxonomic_sn":28728}'
  recorded_at: 2024-01-23 19:49:03 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
