http_interactions:
- request:
    method: GET
    uri: http://geoserver.usanpn.org/geoserver/ows?service=wms&version=1.3.0&request=GetCapabilities
  response:
    status: 200
    headers:
      Content-Disposition: inline; filename=getcapabilities_1.3.0.xml
      Content-Type: text/xml
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><WMS_Capabilities version=\"1.3.0\"
        updateSequence=\"3126\" xmlns=\"http://www.opengis.net/wms\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.opengis.net/wms
        https://geoserver.usanpn.org/geoserver/schemas/wms/1.3.0/capabilities_1_3_0.xsd\">\n
        \ <Service>\n    <Name>WMS</Name>\n    <Title>NPN's GeoServer Web Map Service</Title>\n
        \   <Abstract>A compliant implementation of WMS plus most of the SLD extension
        (dynamic styling). Can also generate PDF, SVG, KML, GeoRSS</Abstract>\n    <KeywordList>\n
        \     <Keyword>WMS</Keyword>\n      <Keyword>GEOSERVER</Keyword>\n    </KeywordList>\n
        \   <OnlineResource xlink:type=\"simple\" xlink:href=\"http://geoserver.sourceforge.net/html/index.php\"/>\n
        \   <ContactInformation>\n      <ContactPersonPrimary>\n        <ContactPerson/>\n
        \       <ContactOrganization>USA National Phenology Network</ContactOrganization>\n
        \     </ContactPersonPrimary>\n      <ContactPosition/>\n      <ContactAddress>\n
        \       <AddressType/>\n        <Address>1311 E 4th Street</Address>\n        <City>Tucson</City>\n
        \       <StateOrProvince>Arizona</StateOrProvince>\n        <PostCode>85721</PostCode>\n
        \       <Country>USA</Country>\n      </ContactAddress>\n      <ContactVoiceTelephone/>\n
        \     <ContactFacsimileTelephone/>\n      <ContactElectronicMailAddress/>\n
        \   </ContactInformation>\n    <Fees>NONE</Fees>\n    <AccessConstraints>NONE</AccessConstraints>\n
        \ </Service>\n  <Capability>\n    <Request>\n      <GetCapabilities>\n        <Format>text/xml</Format>\n
        \       <DCPType>\n          <HTTP>\n            <Get>\n              <OnlineResource
        xlink:type=\"simple\" xlink:href=\"https://geoserver.usanpn.org/geoserver/ows?SERVICE=WMS&amp;\"/>\n
        \           </Get>\n            <Post>\n              <OnlineResource xlink:type=\"simple\"
        xlink:href=\"https://geoserver.usanpn.org/geoserver/ows?SERVICE=WMS&amp;\"/>\n
        \           </Post>\n          </HTTP>\n        </DCPType>\n      </GetCapabilities>\n
        \     <GetMap>\n        <Format>image/png</Format>\n        <Format>application/atom+xml</Format>\n
        \       <Format>application/json;type=utfgrid</Format>\n        <Format>application/pdf</Format>\n
        \       <Format>application/rss+xml</Format>\n        <Format>application/vnd.google-earth.kml+xml</Format>\n
        \       <Format>application/vnd.google-earth.kml+xml;mode=networklink</Format>\n
        \       <Format>application/vnd.google-earth.kmz</Format>\n        <Format>image/geotiff</Format>\n
        \       <Format>image/geotiff8</Format>\n        <Format>image/gif</Format>\n
        \       <Format>image/jpeg</Format>\n        <Format>image/png; mode=8bit</Format>\n
        \       <Format>image/svg+xml</Format>\n        <Format>image/tiff</Format>\n
        \       <Format>image/tiff8</Format>\n        <Format>image/vnd.jpeg-png</Format>\n
        \       <Format>image/vnd.jpeg-png8</Format>\n        <Format>text/html; subtype=openlayers</Format>\n
        \       <Format>text/html; subtype=openlayers2</Format>\n        <Format>text/html;
        subtype=openlayers3</Format>\n        <DCPType>\n          <HTTP>\n            <Get>\n
        \             <OnlineResource xlink:type=\"simple\" xlink:href=\"https://geoserver.usanpn.org/geoserver/ows?SERVICE=WMS&amp;\"/>\n
        \           </Get>\n          </HTTP>\n        </DCPType>\n      </GetMap>\n
        \     <GetFeatureInfo>\n        <Format>text/plain</Format>\n        <Format>application/vnd.ogc.gml</Format>\n
        \       <Format>text/xml</Format>\n        <Format>application/vnd.ogc.gml/3.1.1</Format>\n
        \       <Format>text/xml; subtype=gml/3.1.1</Format>\n        <Format>text/html</Format>\n
        \       <Format>application/json</Format>\n        <DCPType>\n          <HTTP>\n
        \           <Get>\n              <OnlineResource xlink:type=\"simple\" xlink:href=\"https://geoserver.usanpn.org/geoserver/ows?SERVICE=WMS&amp;\"/>\n
        \           </Get>\n          </HTTP>\n        </DCPType>\n      </GetFeatureInfo>\n
        \   </Request>\n    <Exception>\n      <Format>XML</Format>\n      <Format>INIMAGE</Format>\n
        \     <Format>BLANK</Format>\n      <Format>JSON</Format>\n    </Exception>\n
        \   <Layer>\n      <Title>NPN's GeoServer Web Map Service</Title>\n      <Abstract>A
        compliant implementation of WMS plus most of the SLD extension (dynamic styling).
        Can also generate PDF, SVG, KML, GeoRSS</Abstract>\n      <!--All supported
        Coordinate Reference Systems:-->\n      <CRS>AUTO:42001</CRS>\n      <CRS>AUTO:42002</CRS>\n
        \     <CRS>AUTO:42003</CRS>\n      <CRS>AUTO:42004</CRS>\n      <CRS>AUTO:97001</CRS>\n
        \     <CRS>AUTO:97002</CRS>\n      <CRS>AUTO:97003</CRS>\n      <CRS>AUTO:97004</CRS>\n
        \     <CRS>CRS:27</CRS>\n      <CRS>CRS:83</CRS>\n      <CRS>CRS:84</CRS>\n
        \     <CRS>EPSG:2000</CRS>\n      <CRS>EPSG:2001</CRS>\n      <CRS>EPSG:2002</CRS>\n
        \     <CRS>EPSG:2003</CRS>\n      <CRS>EPSG:2004</CRS>\n      <CRS>EPSG:200[...]
